@model Components.Components.CurrentTime.CurrentTimeModel
@{

}
    <head>
        <script src="/sendMessage.js" asp-append-version="true"></script>
        <script src="sendMessage.js" asp-append-version="true"></script>
        <script src="~/sendMessage.js" asp-append-version="true"></script>
        <script src="~/content/Components/sendMessage.js" asp-append-version="true"></script>
        <script src="content/Components/sendMessage.js" asp-append-version="true"></script>
        <script src="/sendMessage.js"></script>
        <script src="sendMessage.js"></script>
        <script src="~/sendMessage.js"></script>
        <script src="~/content/Components/sendMessage.js"></script>
        <script src="content/Components/sendMessage.js"></script>
    </head>
<h1>@Model.CurrentTime</h1>
<h1>@Model.CurrentDate</h1>

<button class="ui-button ui-widget ui-corner-all">A button element</button>
